doctype html 
html 
  head 
    meta(charset="utf-8")
    title Document
  body
    h1 contact
    nav
      ul
        li
          a(href="/") Accueil 
        li
          a(href="/contact") Contact
        li
          a(href="/services") services
