doctype html 
html 
  head 
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/styles.css")
    title Document
  body
    h1 Accueil #{firstname} !
    nav
      ul
        li
          a(href="/") Accueil 
        li
          a(href="/contact") Contact
        li
          a(href="/services") services
    script(src="js/main.js")
